/* Grid Styles */

.grid {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  justify-content:space-around;
  /*justify-content:space-between;*/
}

.gridItem {
  width:32%;
  margin:30px;
  margin-left:0;
  margin-right:30px;
}

.gridImage:hover {
  box-shadow:0 0 15px 0 rgba(0, 0, 0, 0.9);
  transition: all 500ms ease-in-out;
  transform: scale(1.1);
}

img{
  max-width: 500%;
  max-height: 200px;
}
